body{
    background-size: 110%;
    margin: 0%;
    padding: 0%;
}


main{
    display: flex;
    text-align: center;
    justify-content: center;
}
.Tmenu{
    position: fixed;
    width: 100%;
}
.Amenu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.menu{
    display: flex;
    width: 75%;
    height: 60px;
    background-color: #73BC13;
    border-radius: 0px 0px 30px 30px;
    justify-content: center;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu ul{
    width: 98%;
    display: flex;
    justify-content: space-around; 
    padding: 0%;
    align-items: center;
}
.menu a{
    text-decoration: none; 
    color:white;
    font-size: 22pt;
    font-weight: bold;
}
.logo{
    height: 80px;
    padding: 20px;
    border-radius: 750px;
}
header{
    display: flex;
    height: 110px;
    width: 100%;
    background-color: #98D349;
    align-items: center;
    color: white;
    font-size: 19pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    display: flex;
    height: 50px;
    background-color: #98D349;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 10pt;
}
h1{
    padding-inline: 10px;
}
h3{
    padding-left: 36%;
    font-size: 20pt;
}
img{
    padding: 30px;
}
#img1{
    width: 170px;
    height: 200px;
}

#img2{
    width: 630px;
    height: 400px;
}
#img3{
    width: 360px;
    height: 250px;
}

#box1, #box2{
    background-color: #bbe485;
    border-radius: 80px 80px 80px 80px;
    display: flex;
    width: 85%;
    align-items: center;
    margin: 20px;
}
p{
    font-size: 17pt;
    color:white;
    text-align: justify;
    margin: 25px;
}

li{
    padding-left: 30px;
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 19pt;
}
li a{
    padding-inline: 15px;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    width: 100%;
    padding-bottom: 30px;
}