.Tmenu{
    position: fixed;
    width: 100%;
}

body{
    margin: 0%;
    padding: 0%;
}
main{
    display: flex;
    text-align: center;
    justify-content: start;
}
.Amenu{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}
.menu{
    display: flex;
    width: 75%;
    height: 60px;
    background-color: #73BC13;
    border-radius: 0px 0px 30px 30px;
    justify-content: center;
}
.menu li{
    list-style: none;
    display: inline-block;
}
.menu ul{
    width: 98%;
    display: flex;
    justify-content: space-around; 
    padding: 0%;
    align-items: center;
}
.menu a{
    text-decoration: none; 
    font-size: 22pt;
    font-weight: bold;
}
.logo{
    height: 80px;
    padding: 20px;
    border-radius: 750px;
}
header{
    display: flex;
    height: 110px;
    background-color: #98D349;
    align-items: center;
    color: white;
    font-size: 19pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div1{ 
    padding: 35px;
    padding-top: 200px;
    display: flex;
    align-items: start;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 20pt;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    display: flex;
    height: 50px;
    background-color: #98D349;
    align-items: center;
    color: white;
    justify-content: space-between;
    font-size: 10pt;
}
h1{
    padding-inline: 10px;
}
h3{
    padding-left: 30%;
    font-size: 20pt;
}

input{
font-size: 20px;
width: 600px;
height: 25px;
}

.logo1{
    display: flex;
    justify-self: end;
    height: 420px;
    padding-inline: 200px;
    border-radius: 70px;
}

select{
    padding-right: 25px;
    font-size: 20pt;
    height: 90px;
    height: 40px;  
    background-color: aqua;
    border-radius: 10px;
}

button{
    margin-left: 350px;
    font-size: 20pt;
    height: 100px;
    height: 50px;
    outline: none;
    border: 0px;   
    background-color: chartreuse;
    border-radius: 15px;
}
li{
    padding-left: 30px;
    list-style: none;
    display: inline-block;
    color: white;
    font-size: 19pt;
}
li a{
    padding-inline: 15px;
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*
#img1{
    width: 340px;
    height: 400px;
    padding: 20px;
}
*/
.grifo{
    background-color: yellow;
    text-decoration: none; 
    color:black;
    font-size: 22pt;
    font-weight: bold;
}